{% extends 'frontpage/base.html' %}

{% block content %}

<header class="masthead">
    {% if user.is_authenticated %}
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-begin">
                <h1 class="text-uppercase text-white font-weight-bold">Page indisponible... Avez-vous bien cherché ?</h1>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
    {% else %}
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Inscription</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Inscrivez vous vite pour enregistrer vos substituts !</p>
                {% if error %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
                {%  endif %}
                <form method="POST" style="color:white;">
                    {% csrf_token %}
                    <div class="signup-form">
                        <div>
                            {{ form.as_p }}
                            {{form.username}}
                        </div>
                    </div>
                    <br/><br/>
                <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger">Inscription</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</header>

{% endblock %}