{% extends 'frontpage/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold" style="color:black">Page introuvable.</h1>
        <hr class="divider my-4" />
    </div>
{% else %}

<header class="product_header masthead" style="height: initial; min-height: initial;">
    <div class="container h-50" style="margin: 4em auto">
        <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">
                  <h1 class="text-uppercase text-white font-weight-bold">Encore vous ?</h1>
                  <hr class="divider my-4" />
                  <h4 class="text-uppercase text-white font-weight-bold">Ca nous fait plaisir de vous revoir</h4>
                  <hr class="divider my-4" />
              </div>
        </div>
      </div>
</header>
<div class="container h-50" style="height: initial; min-height: initial;">
    <div class="row h-100 align-items-center justify-content-center text-center" style="margin: 4em auto">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse email</label>
              <br/>
              {{ form.username }}
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <br />
              {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>
          </form>
    </div>
</div>
{% endif %}
{% endblock %}