{% extends 'frontpage/base.html' %}
{% load static %}

{% block content %}

<header class="product_header masthead" style="height: initial; min-height: initial;background-image: url({{ product.img_url }});background-repeat: repeat-y">
    <div class="container h-50" style="margin: 4em auto">
        <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">
                {% if page.object_list %}
                  <h1 class="text-uppercase text-white font-weight-bold">{{ product.name }}</h1>
                  <hr class="divider my-4" />
                  <h2 class="text-uppercase text-white font-weight-bold">Vous pouvez remplacer cet aliment par :</h2>
                {% else %}
                <h1 class="text-uppercase text-white font-weight-bold" style="color:black !important">Aucun produit n'a été trouvé.</h1>
                <h2 class="text-uppercase text-white font-weight-bold" style="color:black !important">Avez-vous bien tapé votre requête ?</h2>
                <a href="{% url 'frontpage' %}">Retour à la page principale</a>
                {% endif %}
              </div>
        </div>
      </div>
</header>
<div class="container h-50" style="height: initial; min-height: initial;">
    <div class="row h-100 align-items-center justify-content-center text-center" style="margin: 4em auto">
        {% for product in page.object_list %}
        <div class="col-lg-4 col-md-6">
            <div class="mt-5">
                <img src="{{ product.img_url }}" class="img-fluid" style="height:250px;width: 250px;">
                {% if product.nutriscore == "a" %}
                    <span class="badge-pill nutriscore text-uppercase" style="background-color: green;">{{ product.nutriscore }}</span>
                {% elif product.nutriscore == "b" %}
                    <span class="badge-pill nutriscore text-uppercase" style="background-color: green;">{{ product.nutriscore }}</span>
                {% elif product.nutriscore == "c" %}
                    <span class="badge-pill nutriscore text-uppercase" style="background-color: yellow;color:black">{{ product.nutriscore }}</span>
                {% elif product.nutriscore == "d" %}
                    <span class="badge-pill nutriscore text-uppercase" style="background-color: orange;">{{ product.nutriscore }}</span>
                {% elif product.nutriscore == "e" %}
                    <span class="badge-pill nutriscore text-uppercase" style="background-color: red;">{{ product.nutriscore }}</span>
                {% endif %}
              <div class="container-textproduct">
                <h6><strong>{{ product.name }}</strong></h6>
                  <a href="{% url 'product_details' product.id %}">Détails</a>
                  <form method="POST" action="{% url 'save' product.id %}">
                    {% csrf_token %}
                    <button id="save_btn" class="btn btn-primary" type="submit"><img src="{% static '/img/products/floppy-disk.png' %}" alt="Save" style="width: 32px;height: 32px;margin-right: 1em;">Sauvegarder</button>
                </form>
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>
{% endblock %}