{% extends 'frontpage/base.html' %}
{% load static %}

{% block content %}

<header class="product_header masthead" style="height: initial; min-height: initial;">
    <div class="container h-50" style="margin: 4em auto">
        <div class="row h-100 align-items-center justify-content-center text-center">
            {% if user.is_authenticated %}
                <div class="col-lg-10">
                  <h2 class="text-uppercase text-white font-weight-bold">Voici vos produits enregistrés :</h2>
                  <hr class="divider my-4" />
              </div>
        </div>
      </div>
</header>
<div class="container h-50" style="height: initial; min-height: initial;">
    <div class="row h-100 align-items-center justify-content-center text-center" style="margin: 4em auto">
        <div class="row">
        {% for substitute in page.object_list %}
            <div class="col-md-4" style="margin-bottom:1%;align-items: center;">
                <a href="{% url 'product_details' substitute.product.id %}"><img src="{{ substitute.product.img_url }}" style="width: 250px; height: 250px;"></a>
                <a href="{% url 'product_details' substitute.product.id %}" style="color:black"><h4>{{ substitute.product.name }}</h4></a>
                <form method="POST" action="{% url 'delete' substitute.id %}">
                    {% csrf_token %}
                    <button id="save_btn" class="btn btn-primary" type="submit"><img src="{% static '/img/products/trash.png' %}" alt="Save" style="width: 32px;height: 32px;margin-right: 1em;">Supprimer</button>
                </form>
            </div>
        {% endfor %}
        </div>
        
        {% else %}
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Vous n'êtes pas connecté.</h1>
            <hr class="divider my-4" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">Connectez-vous ou créez un compte pour accéder à cette page !</p>
        </div>
        {%  endif %}
    </div>
    <nav>
        <ul class="pagination justify-content-end">
            {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'substitutes' %}?page={{ page.previous_page_number }}">Page précédente</a>
            </li>
            {% endif %}
            {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'substitutes' %}?page={{ page.next_page_number }}">Page suivante</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}